mat-toolbar{
  background-color: var(--base-accent-color);
  span, mat-icon{
    color: var(--base-text-color);
  }
}

.mat-drawer-container{
  background-color: var(--background-color);
}
mat-sidenav{
  width: 200px;
  border-right: none;
  background-color: var(--base-accent-color);
  color: var(--base-text-color);
  text-align: center;
  padding: 16px;
  margin: 16px;
  border-radius: 10px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}

.sidenav-menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.company-name{
  margin: 16px;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon{
    margin-right: 8px;
  }

  span, mat-icon{
    color: var(--base-text-color);
  }
}

.admin-content{
  margin: 16px;
  margin-left: 32px;
  // font-size: 2rem;
  border-radius: 10px;
  color: var(--base-text-color);
}


// DARK MODE
.dark_mode_toggle {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.d_mode_label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_mode_input {
  position: absolute;
  opacity: 0;
}

.moon {
  position: absolute;
  color: #fdfdfd;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
  transform: scale(0);
  transition: 1s ease;
}

input:checked~.moon {
  transition-delay: .5s;
  transform: scale(1) rotate(360deg);
}

.sun {
  color: #000000;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
  transition: 1s ease;
  transition-delay: .5s;
}

input:checked~.sun {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
}

.toggle {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  z-index: -1;
  border-radius: 50%;
}

input:checked~.toggle {
  background: var(--base-accent-color)
}

.menu-button.active-link {
  background-color: #e9e3d480;
}
