<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <div class="company-name" routerLink="/">
    <img class="logo" src="/assets/images/new_logo.png" alt="Logo">
    <span>Foxwithbook</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <div class="sidenav-menu-header">
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="/assets/images/new_logo.png" alt="Logo">
      </a>

      <div class="dark_mode_toggle">
        <label class="d_mode_label">
          <input type="checkbox" id="darkmode_toggle_box" class="d_mode_input"
            [checked]="!darkmodeService.isLightTheme()" (change)="darkmodeService.changeThemeColor()">
          <i class="fa fa-sun-o sun" aria-hidden="true"></i>
          <i class="fa fa-moon-o moon" aria-hidden="true"></i>
          <span class="toggle"></span>
        </label>
      </div>

    </div>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>dashboard</mat-icon>
      <span>{{ 'Dashboard' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLinkActive="active-link">
      <mat-icon>mail</mat-icon>
      <span>{{ 'Mail' | translate }}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/admin/audiobook" routerLinkActive="active-link">
      <mat-icon>headset</mat-icon>
      <span>{{ 'Audiobooks' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLink="/admin/author" routerLinkActive="active-link">
      <mat-icon>edit</mat-icon>
      <span>{{ 'Authors' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLink="/admin/genre" routerLinkActive="active-link">
      <mat-icon>event_note</mat-icon>
      <span>{{ 'Genres' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLink="/admin/narrator" routerLinkActive="active-link">
      <mat-icon>record_voice_over</mat-icon>
      <span>{{ 'Narrators' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLink="/admin/book-series" routerLinkActive="active-link">
      <mat-icon>folder_open</mat-icon>
      <span>{{ 'Book Series' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLink="/admin/book-language" routerLinkActive="active-link">
      <mat-icon>language</mat-icon>
      <span>{{ 'Language' | translate }}</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
      <span>{{ 'Back-to-site' | translate }}</span>
    </button>

    <button mat-button class="menu-button" routerLink="/" (click)="accountService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'Admin-panel-exit' | translate }}</span>
    </button>

    <mat-divider></mat-divider>

    <div class="mt-4">
      <a style="cursor: pointer;" (click)="langService.switchLanguage('en-US')"><img class="lang-img"
          src="/assets/icons/united-kingdom.png" alt="en"></a>
      <a style="cursor: pointer;" (click)="langService.switchLanguage('uk-UA')"><img class="lang-img"
          src="/assets/icons/ukraine.png" alt="ua"></a>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
