<app-stepper [linearModeSelected]="false" #appStepper>
  <cdk-step [label]="'AudioBook'">
    <hr>
    <form [formGroup]="addAudioBookForm" (ngSubmit)="onFormSubmit()">
      <div>
        <app-text-input-v2 type="text" label="name"
          placeholder="please enter audiobook name" icon="title"
          [formControl]="addAudioBookForm.controls['name']">
        </app-text-input-v2>

        <app-textarea-input type="text" label="{{ 'description' | translate }}"
          placeholder="{{ 'Please-enter-author-description' | translate }}" icon="description"
          [formControl]="addAudioBookForm.controls['description']">
        </app-textarea-input>

        <app-multi-select
          [formControl]="addAudioBookForm.controls['authorsIds']"
          [label]="'authors'"
          [selectList]="authors"
          [localization]="true">
        </app-multi-select>

        <app-multi-select
          [formControl]="addAudioBookForm.controls['genresIds']"
          [label]="'genres'"
          [selectList]="genres"
          [localization]="true">
        </app-multi-select>

        <app-single-select
          [formControl]="addAudioBookForm.controls['bookSeriesId']"
          [label]="'book series'"
          [selectList]="bookSeries"
          [localization]="true">
        </app-single-select>

        <app-text-input-v2 type="text" label="order in series"
          placeholder="please enter order in series" icon="border_color"
          [formControl]="addAudioBookForm.controls['orderInSeries']">
        </app-text-input-v2>

        <app-single-select
          [formControl]="addAudioBookForm.controls['narratorId']"
          [label]="'narrator'"
          [selectList]="narrators">
        </app-single-select>

        <app-single-select
          [formControl]="addAudioBookForm.controls['bookLanguageId']"
          [label]="'language'"
          [selectList]="languages"
          [localization]="true">
        </app-single-select>

        <app-image-upload
          [form]="addAudioBookForm"
          [imageUrl]="url"
          (fileSelected)="onFileSelected($event)">
        </app-image-upload>

        <div class="btns-section mt-2">
          <button type="button" class="admin-btn return-btn mr-2" routerLink="/admin/author">{{ 'Back' | translate }}</button>
          <button type="submit" class="admin-btn" [disabled]="addAudioBookForm.invalid">{{ 'Add-new-author' | translate }}</button>
        </div>
      </div>
    </form>

  </cdk-step>
  <cdk-step [label]="'AudioFiles'">
    <hr>
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>

  </cdk-step>
</app-stepper>
