<div class="d-flex flex-wrap justify-content-between align-items-center">
  <app-paging-header [totalCount]="totalCount" [pageNumber]="paginationAndSearchParams.pageNumber" [pageSize]="paginationAndSearchParams.pageSize"></app-paging-header>

  <div class="d-flex flex-wrap">
    <form class="search form-inline mr-2 mt-2 mb-2" (submit)="onSearch($event)">
      <div class="d-flex align-items-center">
        <input (keyup.enter)="onSearch($event)" id="librarySearchinput" class="form-control form-control-sm" type="text"
          placeholder="{{ 'Search' | translate }}" aria-label="Search" #search>
        <i (click)="onSearch($event)" class="fa fa-search ml-2 search-btn-cl" style="cursor: pointer"
          aria-hidden="true"></i>
      </div>
    </form>
    <button class="admin-btn mb-2" routerLink="/admin/author/add-author">
      {{ 'Add-new-author' | translate }}
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover rounded-3 overflow-hidden">
    <thead lc>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">enName</th>
        <th scope="col">description</th>
        <th scope="col">enDescription</th>
        <th scope="col">picture</th>
        <th scope="col">createdAt</th>
        <th scope="col">updatedAt</th>
        <th scope="col">{{ 'Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <th scope="row">{{ author.id }}</th>
        <td>{{ author.name }}</td>
        <td>{{ author.enName }}</td>
        <td> <app-moreless [text]="author.description" [wordLimit]="150"></app-moreless> </td>
        <td> <app-moreless [text]="author.enDescription" [wordLimit]="150"></app-moreless> </td>
        <td>
          <img class="table-image" src="{{ author.imageUrl }}" alt="">
        </td>
        <td>{{ author.createdAt }}</td>
        <td>{{ author.updatedAt }}</td>
        <td>
          <button class="admin-btn action mr-2 mb-1" routerLink="/admin/author/edit-author/{{author.id}}">
            <i class="fa fa-edit"></i>
            {{ 'Edit' | translate }}
          </button>
          <button class="admin-btn action delete-btn">
            <i class="fa fa-trash"></i>
            {{ 'Delete' | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="totalCount == 0">
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center mt-1" *ngIf="totalCount > 0">
  <app-pager [totalCount]="totalCount" [pageSize]="paginationAndSearchParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
</div>
