.my-pagination::ng-deep .page-item.active .page-link {
  background-color:#ffffff !important;
  border: 2px solid var(--base-light-border-color);
}

.my-pagination::ng-deep .page-link {
  background-color: #ffffff;
  border-color: grey;
  color: #fff;
  color: black;
}

.my-pagination::ng-deep .page-link:hover {
  background-color: var(--base-orange-color);
  border: 2px solid var(--base-light-border-color);
}
