
<div class="form-floating mt-3 mb-3">
  <input
    type={{type}}
    [formControl]="control"
    placeholder="{{label}}"
    class="form-control"
    autocomplete="{{label}}"
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid': null"
  >
  <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
  <label for="floatingInput">{{label}}</label>
  <div *ngIf="control.errors?.['required']" class="invalid-feedback">Please enter {{label}}</div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback">Invalid email adress</div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Password must have 1 Uppercase, 1 Lowercase, 1 number, 1 non alphanumeric and at least 6 characters</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Email adress is taken</div>
  <div *ngIf="control.errors?.['passwordMismatch']" class="invalid-feedback">Passwords do not match</div>


</div>
