.stepper-btn{
  white-space: nowrap;
  background-color: var(--stteper-btns-background);
  border: 2px solid var(--stepper-btns-border);
  border-bottom: 6px solid var(--stepper-btns-border);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.stepper-btn:active {
  border-bottom: 2px solid var(--stepper-btns-border);
  background-color: var(--base-accent-color);
  color: var(--base-text-color);
  margin-bottom: 12px;
}

.stepper-btn.active {
  border-bottom: 2px solid var(--stepper-btns-border);
  background-color: var(--base-accent-color);
  color: var(--base-text-color);
  margin-bottom: 12px;
}
