<app-stepper [linearModeSelected]="false" #appStepper>
  <cdk-step label="{{ 'AudioBook' | translate }}" [completed]="editAudiobookForm.valid">
    <hr>
    <form [formGroup]="editAudiobookForm">
      <app-text-input-v2 type="text" label="{{ 'Id' | translate }}"
        icon="title" [formControl]="editAudiobookForm.controls['id']">
      </app-text-input-v2>

      <app-text-input-v2 type="text" label="{{ 'audiobook-name' | translate }}"
        placeholder="{{ 'Please-enter-audiobook-name' | translate }}" icon="title"
        [formControl]="editAudiobookForm.controls['name']">
      </app-text-input-v2>

      <app-textarea-input type="text" label="{{ 'description' | translate }}"
        placeholder="{{ 'Please-enter-audiobook-description' | translate }}" icon="description"
        [formControl]="editAudiobookForm.controls['description']">
      </app-textarea-input>

      <app-multi-select
        [formControl]="editAudiobookForm.controls['authorsIds']"
        label="{{ 'Authors' | translate }}"
        [selectList]="authors"
        [localization]="true">
      </app-multi-select>


      <app-multi-select
        [formControl]="editAudiobookForm.controls['genresIds']"
        label="{{ 'Genres' | translate }}"
        [selectList]="genres"
        [localization]="true">
      </app-multi-select>

      <app-single-select
        [formControl]="editAudiobookForm.controls['bookSeriesId']"
        label="{{ 'Book Series' | translate }}"
        [selectList]="bookSeries"
        [localization]="true"
        [selectedItemId]="audiobook?.bookSeries?.id">
      </app-single-select>

      <app-text-input-v2 type="text" label="{{ 'order-in-series' | translate }}"
        placeholder="{{ 'Please-enter-order-in-series' | translate }}" icon="border_color"
        [formControl]="editAudiobookForm.controls['orderInSeries']">
      </app-text-input-v2>

      <app-single-select
        [formControl]="editAudiobookForm.controls['narratorId']"
        label="{{ 'Narrators' | translate }}"
        [selectList]="narrators"
        [selectedItemId]="audiobook?.narrator?.id">
      </app-single-select>

      <app-single-select
        [formControl]="editAudiobookForm.controls['bookLanguageId']"
        label="{{ 'Language' | translate }}"
        [selectList]="languages"
        [localization]="true"
        [selectedItemId]="audiobook?.bookLanguage?.id">
      </app-single-select>

      <app-text-input-v2 type="text" label="{{ 'Rating' | translate }}"
        icon="title" [formControl]="editAudiobookForm.controls['rating']">
      </app-text-input-v2>

      <app-text-input-v2 type="text" label="{{ 'Duration' | translate }}"
        icon="title" [formControl]="editAudiobookForm.controls['bookDuration']">
      </app-text-input-v2>

      <app-text-input-v2 type="text" label="{{ 'view count' | translate }}"
        icon="title" [formControl]="editAudiobookForm.controls['viewCount']">
      </app-text-input-v2>

      <app-text-input-v2 type="text" label="{{ 'book marks count' | translate }}"
        icon="title" [formControl]="editAudiobookForm.controls['bookMarksCount']">
      </app-text-input-v2>

      <app-text-input-v2 type="text" label="{{ 'createdAt' | translate }}"
        icon="calendar_today" [formControl]="editAudiobookForm.controls['updatedAt']">
      </app-text-input-v2>

      <app-text-input-v2 type="text" label="{{ 'updatedAt' | translate }}"
        icon="calendar_today" [formControl]="editAudiobookForm.controls['createdAt']">
      </app-text-input-v2>

      <app-image-upload [form]="editAudiobookForm" [defaultImgUrl]="authorDefaultUrl" [imageUrl]="url" (fileSelected)="onFileSelected($event)"></app-image-upload>

    </form>
  </cdk-step>
  <cdk-step label="{{ 'Audiofiles' | translate }}">

  </cdk-step>
</app-stepper>
