.full-width {
  width: 100%;
}

.single-element {
  width: 100%;
}

mat-slider {
  width: 100%;
}

.reset-btn{
  cursor: pointer;
}

.sorting {
  padding: 8px;
  border-radius: 20px;
  border: black 2px solid;
}


