<div class="container">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let book of books" class="slide">
      <div class="card">
        <div class="img-container">
          <a class="img_a" routerLink="/library/{{book.id}}">
            <div class="card-img-container">
              <img [src]="book.imageSrc" class="card-img" alt="bookimg">

            </div>
          </a>
        </div>
        <div class="card-body">
          <a routerLink="/library/{{book.id}}" class="book_name">
            <h5 class="card-title"><b>{{ book.title }}</b></h5>
          </a>
          <p class="card-text">
            <span>{{ book.author }}</span>
            <span class="float-end">
              <i class="fa fa-star" style="color: #ffbc57;" aria-hidden="true"></i>
              {{ book.rating }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
