<div class="container">
  <h2>Selections</h2>
  <p>
    Welcome to our carefully curated world of literature! In this section, we invite you to embark on a literary journey through our thoughtfully chosen book selections. Whether you're a passionate bibliophile, a casual reader, or someone seeking the perfect book gift, our collection has something for everyone.
  </p>
  <hr>
  <div class="row row-cols-xl-2 row-cols-1">
    <div class="col" *ngFor="let selection of selections">
      <app-selection-item [selection]="selection"></app-selection-item>
    </div>
  </div>
</div>
