<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <div class="footer-site-logo mb-4">
          <a href="#">FoxWithBook</a>
        </div>
        <ul class="list-unstyled nav-links mb-5">
          <li><a href="#">Про нас</a></li>
          <li><a href="#">Бібліотека</a></li>
          <li><a href="#">Добірки</a></li>
          <li><a href="#">Підримати проект</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Контакти</a></li>
        </ul>

        <div class="social mb-4">
          <h3>Stay in touch</h3>
          <ul class="list-unstyled">
            <li class="in"><a href="#"><span class="icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i>
                </span></a></li>
            <li class="fb"><a href="#"><span class="icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
                </span></a></li>
            <li class="tw"><a href="#"><span class="icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
                </span></a></li>
            <li class="gt"><a href="#"><span class="icon-github"><i class="fa fa-github" aria-hidden="true"></i>
                </span></a></li>
          </ul>
        </div>

        <div class="copyright">
          <p class="mb-0"><small>&copy; FoxWithBook. All Rights Reserved.</small></p>
        </div>


      </div>
    </div>
  </div>
</footer>
