<h1>{{ 'Edit genre' | translate }}</h1>
<hr>
<form [formGroup]="editGenreForm" (ngSubmit)="onFormSubmit()">

  <app-text-input-v2 type="number" label="id" icon="perm_identity" default_value="{{genre?.id}}"
    [formControl]="editGenreForm.controls['id']">
  </app-text-input-v2>

  <app-text-input-v2 type="text" label="name" placeholder="{{ 'Please-enter-genre-name' | translate }}" icon="perm_media"
    default_value="{{genre?.name}}" [formControl]="editGenreForm.controls['name']">
  </app-text-input-v2>

  <app-text-input-v2 type="text" label="enName" placeholder="{{ 'Please-enter-genre-enname' | translate }}"
    icon="language" default_value="{{genre?.enName}}" [formControl]="editGenreForm.controls['enName']">
  </app-text-input-v2>

  <app-text-input-v2 type="text" label="createdAt" icon="calendar_today" default_value="{{genre?.createdAt}}"
    [formControl]="editGenreForm.controls['createdAt']">
  </app-text-input-v2>

  <app-text-input-v2 type="text" label="updatedAt" icon="calendar_today" default_value="{{genre?.updatedAt}}"
    [formControl]="editGenreForm.controls['updatedAt']">
  </app-text-input-v2>

  <div class="btns-section">
    <button type="button" class="admin-btn return-btn mr-2" routerLink="/admin/genre">{{ 'Back' | translate }}</button>
    <button type="submit" class="admin-btn" [disabled]="editGenreForm.invalid">{{ 'Edit' | translate }}</button>
  </div>
</form>
