.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.a_btns:hover {
  text-decoration: underline;
}

#buttonDivGoogle{
  border: 2px solid var(--base-border-color);
  border-bottom: 6px solid var(--base-border-color);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #1a73e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
