<h1>{{ 'Add-new-genre' | translate }}</h1>
<hr>
<form [formGroup]="addGenreForm" (ngSubmit)="onFormSubmit()">
  <div>
    <app-text-input-v2
      type="text"
      label="{{ 'Genre-name' | translate }}"
      placeholder="{{ 'Please-enter-genre-name' | translate }}"
      icon="perm_media"
      [formControl]="addGenreForm.controls['name']">
    </app-text-input-v2>

    <app-text-input-v2
      type="text"
      label="{{ 'Genre-enName' | translate }}"
      placeholder="{{ 'Please-enter-genre-enname' | translate }}"
      icon="language"
      [formControl]="addGenreForm.controls['enName']">
    </app-text-input-v2>

    <div class="btns-section">
      <button type="button" class="admin-btn return-btn mr-2" routerLink="/admin/genre">{{ 'Back' | translate }}</button>
      <button type="submit" class="admin-btn" [disabled]="addGenreForm.invalid">{{ 'Add-new-genre' | translate }}</button>
    </div>
  </div>
</form>
