<div class="admin-container" *ngIf="accountService.currentUser$ | async as user">
  <div class="welcome-section">
    <p class="ml-2">Welcome back, {{user.userName}}!</p>
  </div>
  <div class="info-section">

    <div class="card-dashboard">
      <p class="stat-p">
        <mat-icon>supervised_user_circle</mat-icon>
        <b> {{userCount}}</b>
      </p>
      <p class="stat-p">Users</p>
    </div>

    <div class="card-dashboard">
      <p class="stat-p">
        <mat-icon>headset</mat-icon>
        <b> {{audioBookCount}}</b>
      </p>
      <p class="stat-p">Audiobooks</p>
    </div>

    <div class="card-dashboard">
      <p class="stat-p">
        <mat-icon> rate_review</mat-icon>
        <b> {{reviewCount}}</b>
      </p>
      <p class="stat-p">Reviews</p>
    </div>

  </div>
  <div class="chart-section">

    <div class="card-chart">
      <canvas baseChart type="bar"
      [data]="barChartData"
      height="100"
      ></canvas>

    </div>
  </div>
</div>
