<div class="admin-container">
  <div class="welcome-section">
    <p class="ml-2">Welcome back, admin username!</p>
  </div>
  <div class="info-section">

    <div class="card-dashboard">
      <p class="stat-p">
        <mat-icon>supervised_user_circle</mat-icon>
        <b> 10</b>
      </p>
      <p class="stat-p">Users</p>
    </div>

    <div class="card-dashboard">
      <p class="stat-p">
        <mat-icon>headset</mat-icon>
        <b> 1023</b>
      </p>
      <p class="stat-p">Audiobooks</p>
    </div>

    <div class="card-dashboard">
      <p class="stat-p">
        <mat-icon> rate_review</mat-icon>
        <b> 1032</b>
      </p>
      <p class="stat-p">Reviews</p>
    </div>

  </div>
  <div class="chart-section">

    <div class="card-chart">
      <canvas
      baseChart
      type="bar"
      [data]="barChartData"
    ></canvas>

    </div>
  </div>
</div>
