.stat-p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 25px;
}

.admin-container {
  width: 100%;
}

.card-dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-accent-color);
  border: 1px solid var(--base-border-color);
  padding: 50px;
  margin: 0 10px 20px 10px;
  border-radius: 10px;
}

.info-section, .chart-section {
  display: flex;
  flex-wrap: wrap;
}

.card-chart {
  flex: 1;
  display: flex;
  border: 1px solid var(--base-border-color);
  margin: 0 10px 20px 10px;
  border-radius: 10px;
  width: 100%;

  canvas{
    max-width: 100%;
  }

}

.admin-btn{
  background-color: var(--main-btn-color);
  border: 2px solid var(--base-border-color);
  border-bottom: 6px solid var(--base-border-color);
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;

  &.action{
    padding: 6px;
  }

  &.delete-btn {
    background-color: var(--delete-btn-color);
  }

  &.return-btn {
    background-color: var(--neutral-btn-color);
  }
}

input::placeholder {
  color: grey !important;
 }

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

/* Table and search bar for CRUD pages */
table{
  font-size: 16px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--table-hover-color);
  cursor: pointer;
}


.search input:focus{
  box-shadow: 0 0 0 0.15rem var(--base-accent-color);
  border: none;
}

.search-btn-cl{
  font-size: 20px;
  color: var(--base-text-color)
}

.table-image{
  max-height: 150px;
  max-width: 150px;
}

.loader-container {
  height: 80vh;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
