.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.item {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--base-orange-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// MODAL

.mobile-toggler,
.navbar-toggler {
  font-size: 35px;
}

.modal-dialog {
  margin: 0;
  width: 430px;
}

@media(max-width: 450px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
  }
}

.modal-content {
  border-radius: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--base-light-bg-color);
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.btn-cls {
  color: black;
  font-size: 30px;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.modal-body {
  margin: 0 auto;
  flex: unset;

  .modal-item {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .modal-item a {
    position: relative;
    text-decoration: none;
  }

  .modal-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease;
  }

  .modal-item a:hover::after {
    width: 100%;
  }

}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social ul li {
  display: inline-block;
  margin-bottom: 10px;
}

.social ul li a {
  display: inline-block;
  padding: 10px;
}

.social ul li.in a {
  color: #df588a;
}

.social ul li.tw a {
  color: #15b8ff;
}

.social ul li.fb a {
  color: #3742d0;
}

.social ul li.gt a {
  color: #080006;
}


// DARK MODE
.dark_mode_toggle {
  margin: 30px;
  font-size: 30px;
}

.d_mode_label {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_mode_input {
  position: absolute;
  opacity: 0;
}

.moon {
  position: absolute;
  color: #666;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
  transform: scale(0);
  transition: 1s ease;
}

input:checked~.moon {
  transition-delay: .5s;
  transform: scale(1) rotate(360deg);
}

.sun {
  color: #666;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
  transition: 1s ease;
  transition-delay: .5s;
}

input:checked~.sun {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
}

.toggle {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow:
    0 8px 60px rgba(0, 0, 0, .1),
    0 8px 8px rgba(0, 0, 0, .1),
    0 -4px 4px rgba(0, 0, 0, .1);
  z-index: -1;
}

input:checked~.toggle {
  background: #2b2b2b;
}
