<header>
  <div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="/assets/images/new_logo.png" alt="Logo">
      </a>

      <div class="navbar-toggler mobile-toggler d-lg-none">
        <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
          <i class="fa fa-reorder"></i>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="item hover-underline-animation">
              <a routerLink="/">{{ 'Home' | translate }}</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="item hover-underline-animation">
              <a routerLink="/library">{{ 'Library' | translate }}</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="item hover-underline-animation">
              <a routerLink="/selection">{{ 'Selections' | translate }}</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="dark_mode_toggle">
              <label class="d_mode_label">
                <input type="checkbox" id="darkmode_toggle_box" class="d_mode_input"
                  [checked]="!darkmodeService.isLightTheme()" (change)="darkmodeService.changeThemeColor()">
                <i class="fa fa-sun-o sun" aria-hidden="true"></i>
                <i class="fa fa-moon-o moon" aria-hidden="true"></i>
                <span class="toggle"></span>
              </label>
            </div>
          </li>
        </ul>
        <ng-container *ngIf="(accountService.currentUser$ | async) === null">
          <div class="my-2 my-lg-0">
            <button routerLink="/account/login" class="button g_button mr-2 mb-1">{{ 'Sign-in' | translate }}</button>
            <button routerLink="/account/register" class="button g_button">{{ 'Create Account' | translate }}</button>
          </div>
        </ng-container>
        <ng-container *ngIf="accountService.currentUser$ | async as user">
          <div class="dropdown my-2 my-lg-0" style="cursor: pointer;" dropdown>
            <a dropdownToggle class="nav-bar-toggle dropdown-toggle">
              <strong>{{ 'Welcome' | translate }} {{user.userName}}</strong>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li class="py-1">
                <a routerLink="/user-profile/{{user.userName}}" class="dropdown-item dd-a">
                  {{ 'Profile' | translate }}
                </a>
                <a *ngIf="user.role === 'Admin'" routerLink="/admin" class="dropdown-item dd-a">
                  {{ 'Admin-panel' | translate }}
                </a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="py-1 dd-a">
                <a (click)="accountService.logout()" class="dropdown-item">
                  <i class="fa fa-sign-out me-3"></i>{{ 'log-out' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-head">
            <div class="dark_mode_toggle">
              <label class="d_mode_label">
                <input type="checkbox" id="modal_darkmode_toggle_box" class="d_mode_input"
                  [checked]="!darkmodeService.isLightTheme()" (change)="darkmodeService.changeThemeColor()">
                <i class="fa fa-sun-o sun" aria-hidden="true"></i>
                <i class="fa fa-moon-o moon" aria-hidden="true"></i>
                <span class="toggle"></span>
              </label>
            </div>
            <a class="btn-cls" data-bs-dismiss="modal" aria-label="Close">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>

          <div class="modal-body">
            <div class="modal-item" *ngIf="accountService.currentUser$ | async as user" data-bs-dismiss="modal">
              <img routerLink="/user-profile/{{user.userName}}" [src]="darkmodeService.isLightTheme() ? '/assets/images/light_user.svg' : '/assets/images/dark_user.svg'" alt="Avatar" class="img-fluid" style="width: 80px;" />
              <p class="mt-2" routerLink="/user-profile/{{user.userName}}">{{user.userName}}<p>
            </div>
            <div class="modal-item" data-bs-dismiss="modal">
              <a routerLink="/" routerLinkActive="active">
                {{ 'Home' | translate }}
              </a>
            </div>
            <div class="modal-item" data-bs-dismiss="modal">
              <a routerLink="/library">
                {{ 'Library' | translate }}
              </a>
            </div>
            <div class="modal-item" data-bs-dismiss="modal">
              <a routerLink="/selection">{{ 'Selections' | translate }}</a>
            </div>
            <ng-container *ngIf="accountService.currentUser$ | async as user">
              <div *ngIf="user.role === 'Admin'" class="modal-item" data-bs-dismiss="modal">
                <a routerLink="/admin">
                  {{ 'Admin-panel' | translate }}
                </a>
              </div>
            </ng-container>
            <ng-container *ngIf="(accountService.currentUser$ | async) === null">
              <div class="modal-item" data-bs-dismiss="modal">
                <a routerLink="/account/login">{{ 'Sign-in' | translate }}</a>
              </div>
              <div class="modal-item" data-bs-dismiss="modal">
                <a routerLink="/account/register">{{ 'Create Account' | translate }}</a>
              </div>
            </ng-container>
            <ng-container *ngIf="(accountService.currentUser$ | async) != null">
              <div class="modal-item" data-bs-dismiss="modal">
                <a routerLink="/" (click)="accountService.logout()">{{ 'log-out' | translate }}</a>
              </div>
            </ng-container>
          </div>

          <div class="social mt-5">
            <h3>Stay in touch</h3>
            <ul class="list-unstyled">
              <li class="in"><a href="https://www.instagram.com/"><span class="icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i>
                  </span></a></li>
              <li class="fb"><a href="https://www.facebook.com/"><span class="icon-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
                  </span></a></li>
              <li class="tw"><a href="https://twitter.com/home?lang=uk"><span class="icon-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
                  </span></a></li>
              <li class="gt"><a href="https://github.com/AdrianFoxy"><span class="icon-github"><i class="fa fa-github" aria-hidden="true"></i>
                  </span></a></li>
            </ul>
            <div class="mt-2">
              <a style="cursor: pointer;" (click)="langService.switchLanguage('en-US')"><img class="lang-img" src="/assets/icons/united-kingdom.png" alt="en"></a>
              <a style="cursor: pointer;" (click)="langService.switchLanguage('uk-UA')"><img class="lang-img" src="/assets/icons/ukraine.png" alt="ua"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
