<header>
  <div class="container">
    <div class="row">
      <!-- Первый див с логотипом и меню -->
      <div class="col-11 col-md-10">
        <div class="d-lg-none">
          <img class="logo" src="/assets/images/fox_logo.png" alt="Logo">
        </div>
        <div class="d-none d-lg-flex">
          <img class="logo" src="/assets/images/fox_logo.png" alt="Logo">
          <div class="item hover-underline-animation">
            <a routerLink="/">Головна</a>
          </div>
          <div class="item hover-underline-animation">
            <a routerLink="/library">Бібліотека</a>
          </div>
          <div class="item hover-underline-animation">
            <a href="">Добірки</a>
          </div>
          <div class="dark_mode_toggle">
            <label class="d_mode_label">
              <input type="checkbox" class="d_mode_input" [checked]="!isLightTheme()" (change)="changeThemeColor()">
              <i class="fa fa-sun-o sun" aria-hidden="true"></i>
              <i class="fa fa-moon-o moon" aria-hidden="true"></i>
              <span class="toggle"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-2 mt-3 d-none d-lg-flex">
        <button class="button g_button mr-2" d-none>Увійти </button>
        <button class="button g_button">Реєстрація </button>
      </div>
      <div class="col-1 mobile-toggler d-lg-none">
        <a href="#" data-bs-toggle="modal" data-bs-target="#navbModal">
          <i class="fa fa-reorder"></i>
        </a>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="navbModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <img src="/assets/images/logo.png" alt="Logo">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="modal-line">
              <i class="fa fa-home"></i>
              <a routerLink="/" routerLinkActive="active">Home</a>
            </div>

            <div class="modal-line">
              <i class="fa fa-coffee"></i><a href="#">About</a>
            </div>

            <div class="modal-line">
              <i class="fa fa-book"></i> <a href="#">Catalog</a>
            </div>

            <div class="modal-line">
              <i class="fa fa-user"></i><a href="#">UserName</a>
            </div>
          </div>

          <div class="mobile-modal-footer">

            <a target="_blank" href="#"><i class="fa fa-telegram fa-lg"></i></a>
            <a target="_blank" href="#"><i class="fa fa-telegram fa-lg"></i></a>
            <a target="_blank" href="#"><i class="fa fa-telegram fa-lg"></i></a>
            <a target="_blank" href="#"><i class="fa fa-telegram fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
