
table{
  font-size: 16px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--table-hover-color);
  cursor: pointer;
}


.search input:focus{
  box-shadow: 0 0 0 0.15rem var(--base-orange-color);
  border: none;
}

.search-btn-cl{
  font-size: 20px;
  color: var(--base-light-text-color)
}

.admin-btn{
  background-color: var(--base-orange-color);
  border: 2px solid var(--base-light-border-color);
  border-bottom: 6px solid var(--base-light-border-color);
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
}

.admin-action-btn{
  background-color: var(--base-orange-color);
  border: 2px solid var(--base-light-border-color);
  border-bottom: 6px solid var(--base-light-border-color);
  border-radius: 20px;
  font-size: 16px;
  padding: 6px;
}

