.selection-container {
  margin-top: 10px;
  max-height: 360px;
  overflow: hidden;
  position: relative;

  .img-selection {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--base-light-border-color);
    border-bottom: 6px solid var(--base-light-border-color);
    height: 360px;
    transition: all 0.3s;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    .selection-container {
      width: 100%;
      height: auto;
    }
    .img-selection{
      height: auto;
    }
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 20px;
    background-color: rgba(78, 78, 78, 0.8);
    font-weight: bold;
    color: white;
    max-width: 70%;
    border-radius: 10px;
    padding: 5px 5px;
  }

  .img-selection:hover {
    filter: grayscale(100%);
    opacity: 0.7;
  }

}
