.book-card{
  margin-bottom: 20px;
  max-width: 160px;

  .card-body {
    padding: 0;
  }

  .card-text{
    margin: 0;
    margin-top: 10px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.66;
  }
  .card-title{
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--base-text-color);
  }

  .card-title:hover {
    color: var(--base-accent-color);
  }

  .card-author-title{
    color: var(--secondary-text-color);
  }
  .book_name {
    text-decoration: none;
    color: #000;
  }

  .card-img-cont {
    display: flex;
    justify-content: center;
  }

  .card-img{
    height: 240px;
    cursor: pointer;
    border: 2px solid var(--base-border-color);
  }

  @media(max-width:576px){
    .card-img{
      width: 100%;
      max-width: 210px;
      height: 280px;
    }
  }

  @media(max-width:470px){
    .card-img{
      width: 100%;
      height: auto;
      max-height: 240px;
      min-height: 240px;
    }
  }
}

@media(max-width:576px){

  .book-card {
    max-width: 254px; /* Измените максимальную ширину на 100% при ширине экрана до 576px */
  }
}
