.dark-theme {
  --background-color: #121212;
  --dark-mode-secondary-elements-bg: #3c3c3c;

  --chips-backfround: #1d1d1d;

  background: var(--background-color);

  --base-text-color: #fff;
  --base-black-text-color: #000;
  --base-text-color-on-white: black;
  --base-dark-border-color: #373737;

  --base-accent-color: #574ccf;
  --base-secondary-color: #b2c0ff;
  --base-seek-color: #546ace;

  --player-close-btn-color: var(--base-secondary-color);
  --table-hover-color: #546ace;

  /*Admin-btns colors*/
  --main-btn-color: var(--base-secondary-color);

  /*Angular materials colors*/
  --progress-track-color:  rgba(176, 76, 219, 0.25);
  --selected-underline-color: #646464;

  /* Selectors from angular materials */
  /* Line under text */
  --mdc-filled-text-field-focus-active-indicator-color: #574ccf;
  /*Slider ripple*/
  --mat-mdc-slider-hover-ripple:  rgba(63, 81, 181, 0.05);

  /* label color text */
  --mdc-filled-text-field-focus-label-text-color: #626262;
  /* background color*/
  --mdc-filled-text-field-container-color: #1d1d1d;
  --mdc-filled-text-field-disabled-container-color: #464646;
  --mdc-filled-text-field-label-text-color: #6c6c6c;
  /* Selected text color */
  --mat-select-enabled-trigger-text-color: var(--base-text-color);
  /* options background */
  --mat-select-panel-background-color: #171717;

  /* color of selected option text */
  --mat-option-selected-state-label-text-color: white;
  --mat-option-label-text-color: white;
  --mat-option-hover-state-layer-color: rgba(255, 255, 255, 0.08);
  --mat-option-focus-state-layer-color: rgba(255, 255, 255, 0.08);
  --mat-option-selected-state-layer-color: rgba(255, 255, 255, 0.08);
  --mat-select-enabled-arrow-color: rgba(255, 255, 255, 0.54);
  --mat-select-disabled-arrow-color: rgba(255, 255, 255, 0.38);
  --mat-select-focused-arrow-color: white;
  --mat-select-invalid-arrow-color: rgba(244, 67, 54, 0.87) --mat-datepicker-calendar-date-selected-state-text-color: white;

  /* Date picker*/
  --mat-datepicker-calendar-date-selected-state-background-color: #7b1fa2;
  --mat-datepicker-calendar-date-selected-disabled-state-background-color: rgba(123, 31, 162, 0.4);
  --mat-datepicker-calendar-date-today-selected-state-outline-color: white;
  --mat-datepicker-calendar-date-focus-state-background-color: rgba(123, 31, 162, 0.3);
  --mat-datepicker-calendar-date-hover-state-background-color: rgba(123, 31, 162, 0.3);
  --mat-datepicker-toggle-active-state-icon-color: #7b1fa2;
  --mat-datepicker-calendar-date-in-range-state-background-color: rgba(123, 31, 162, 0.2);
  --mat-datepicker-calendar-date-in-comparison-range-state-background-color: rgba(249, 171, 0, 0.2);
  --mat-datepicker-calendar-date-in-overlap-range-state-background-color: #a8dab5;
  --mat-datepicker-calendar-date-in-overlap-range-selected-state-background-color: #46a35e;
  --mat-datepicker-toggle-icon-color: white;
  --mat-datepicker-calendar-body-label-text-color: rgba(255, 255, 255, 0.7);
  --mat-datepicker-calendar-period-button-icon-color: white;
  --mat-datepicker-calendar-navigation-button-icon-color: white;
  --mat-datepicker-calendar-header-divider-color: rgba(255, 255, 255, 0.12);
  --mat-datepicker-calendar-header-text-color: rgba(255, 255, 255, 0.7);
  --mat-datepicker-calendar-date-today-outline-color: rgba(255, 255, 255, 0.5);
  --mat-datepicker-calendar-date-today-disabled-state-outline-color: rgba(255, 255, 255, 0.3);
  --mat-datepicker-calendar-date-text-color: white;
  --mat-datepicker-calendar-date-outline-color: transparent;
  --mat-datepicker-calendar-date-disabled-state-text-color: rgba(255, 255, 255, 0.5);
  --mat-datepicker-calendar-date-preview-state-outline-color: rgba(255, 255, 255, 0.24);
  --mat-datepicker-range-input-separator-color: white;
  --mat-datepicker-range-input-disabled-state-separator-color: rgba(255, 255, 255, 0.5);
  --mat-datepicker-range-input-disabled-state-text-color: rgba(255, 255, 255, 0.5);
  --mat-datepicker-calendar-container-background-color: #424242;
  --mat-datepicker-calendar-container-text-color: white;
  --mdc-filled-text-field-input-text-color: var(--base-black-text-color);
}

/*I DONT REMEMBER WHAT IS IT*/
// .dark-theme .mat-mdc-button.mat-unthemed {
//   --mdc-text-button-label-text-color: white;
// }

/* effect pri navedenii */
.dark-theme .mat-mdc-form-field-focus-overlay {
  background-color: rgba(105, 102, 102, 0.87)
}

.dark-theme .card-title:hover {
  color: var(--base-accent-color) !important;
}

.dark-theme .button {
  border: 2px solid var(--base-dark-border-color);
  border-bottom: 6px solid var(--base-dark-border-color);
}

.dark-theme .poster_p,
.dark-theme .poster_secondary_text,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme .footer {
  color: var(--base-text-color);
}

/* Audio Player */
.dark-theme .overlay {
  background-color: rgb(87, 76, 208, 0.6) !important;
}

.dark-theme .player-p {
  color: var(--base-black-text-color);
}

.dark-theme .list-group::-webkit-scrollbar-track {
  background:
    linear-gradient(to right,
      var(--base-accent-color) 0 6px,
      /* 6 px orange */
      black 6px 9px,
      /* 3 px black */
      var(--base-seek-color) 9px 11px,
      /* 2 px green */
      black 11px 14px,
      /* 3 px black */
      var(--base-accent-color) 14px 20px
      /* 6 px orange */
    ) !important;
}

/* Book details page */
.dark-theme .book_details .title,
.dark-theme .book_details .attb_span,
.dark-theme .book_details .description,
.dark-theme .reviews .user-name,
.dark-theme .reviews .raiting,
.dark-theme .reviews .review_text {
  color: var(--base-text-color) !important;
}

/* Library */
.dark-theme .filtering-header,
.dark-theme .filtering-label,
.dark-theme .pagination-header,
.dark-theme .search-btn {
  color: var(--base-text-color) !important;
}

.dark-theme .sorting {
  background-color: var(--dark-mode-secondary-elements-bg);
  color: var(--base-text-color)
}

/* Pagination */
.dark-theme .my-pagination .page-link {
  background-color: var(--dark-mode-secondary-elements-bg);
  border-color: var(--base-dark-border-color);
  color: var(--base-text-color);
}

.dark-theme .my-pagination .page-link:hover {
  background-color: var(--base-seek-color);
  border: 2px solid var(--base-border-color);
}

/* General things */
.dark-theme p {
  color: var(--base-text-color);
}

.dark-theme ol {
  color: var(--base-text-color);
}

.dark-theme .stack-trace {
  background-color: rgb(26, 23, 27) !important;
}

/* Auth */
.custom .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.dark-theme #buttonDiv{
  border: 2px solid var(--base-dark-border-color) !important;
  border-bottom: 6px solid var(--base-dark-border-color) !important;
}

.dark-theme .text-muted{
  color: rgb(207, 200, 200) !important;
}

/* I DONT REMEMBER WHAT IS IT */
// .dark-theme .card{
//   border-color: grey;
// }

.dark-theme .gradient-custom {
  background: #574ccf !important;
  background: -webkit-linear-gradient(to right bottom, #574ccf, #4235d1) !important;
  background: linear-gradient(to right bottom, #574ccf, #4739df) !important;
}

/* REVIEW */

.dark-theme .review-input .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: var(--base-text-color) !important;
}

/* Common, admin input color */
.dark-theme .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--base-text-color) !important;
}

/* DATEPCIKER COLOR */
.dark-theme .custom .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: var(--base-black-text-color) !important;
}

/* Dashboard */
.dark-theme .card-dashboard {
  border: 1px solid var(--base-text-color) !important;
}

.dark-theme .card-chart{
  border: 1px solid var(--base-text-color) !important;
}

.dark-theme .table>:not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  color: var(--base-text-color);
  background-color: var(--background-color);
}

