/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

body {
  font-family: Georgia, serif;
}

:root {
  --base-orange-color: orange;
  --base-green-color: #8adeb4;
  --base-light-bg-color: #fefefe;
  --base-light-border-color: #000000;
}

.button{
  width: auto;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--base-light-border-color);
  border-bottom: 6px solid var(--base-light-border-color);
  font-size: 18px;
  padding: 10px 20px;
}

.g_button {
  background: var(--base-green-color);
}

.o_button {
  background: var(--base-orange-color);
}

.w_button {
  background: var(--base-light-bg-color);
}
