/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "customTheme";

:root {
  --base-orange-color: orange;
  --base-green-color: #8adeb4;
  --base-light-bg-color: #fff;
  --base-light-border-color: #000;
  --base-light-text-color: #000;

  --base-dark-text-color: #fff;
  --base-dark-border-color: #373737;
  --base-dark-main-color: #574ccf;
  --base-dark-secondary-color: #b2c0ff;
  --base-dark-seek-color:#546ace;

  --dark-mode-bg: #1e1e1e;
}

body {
  font-family: Georgia, serif;
  background-color: #fff;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}

.button{
  width: auto;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--base-light-border-color);
  border-bottom: 6px solid var(--base-light-border-color);
  font-size: 18px;
  padding: 10px 20px;
}

.g_button {
  background: var(--base-green-color);
}

.o_button {
  background: var(--base-orange-color);
}

.w_button {
  background: var(--base-light-bg-color);
}

hr{
  color: grey;
}
.slick-prev:before,
.slick-next:before {
  color: grey;
}

.lang-img{
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
