<div class="container">
  <div class="row">
    <div class="col poster_text">
      <p class="poster_p">Знайди книги для будь якого <span>моменту!</span></p>
      <p class="poster_secondary_text">Історії та пригоди для кожного дня, велика біблотека аудікниг,
        що постійно поповнюється новими творами. Приєднуйся до нас прямо зараз!</p>
      <button class="button o_button mt-3 mr-2" routerLink="/library">Вперед до книг!</button>
      <button class="button w_button mt-3">Підтримати проект.</button>
    </div>

    <div class="col d-none d-lg-flex">
      <img *ngIf="darkmodeService.isLightTheme()" src="/assets/images/light_theme_poster.png" alt="Light Image"
        class="img-poster">
      <img *ngIf="!darkmodeService.isLightTheme()" src="/assets/images/dark_theme_poster.png" alt="Dark Image"
        class="img-poster">
    </div>

  </div>
</div>
<div class="container recomends">
  <hr>
  <br>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Топ тижня:</h1>
    <button class="button g_button mt-3" routerLink="/library">Більше →</button>
  </div>
  <div class="mt-4">
    <app-recomentdations></app-recomentdations>
  </div>
  <hr>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Вас зацікавить:</h1>
  </div>
  <div class="mt-4">
    <app-recomentdations></app-recomentdations>
  </div>
</div>
