.container{
  margin-top: 20px;
}

// Poster
.poster_p{
  font-size: 50px;
}

.poster_text{
  margin-top: 80px;
}

.poster_text span {
  color:  var(--base-orange-color);
}

@media(max-width:992px){
  .poster_text {
    margin-top: 0;
  }
}

.poster_secondary_text{
  opacity: 0.8;
}

.img-poster {
  max-width: 100%;
  height: auto;
}

.recomends{
  margin-top: 100px;
}


