.gradient-custom {
  background: rgb(238, 132, 70);
  background: -webkit-linear-gradient(to right bottom, rgb(238, 132, 70), rgb(211, 85, 50));
  background: linear-gradient(to right bottom, rgb(238, 132, 70), rgb(211, 85, 50))
}

.profile-avatar-text{
  color: var(--base-text-color) !important;
}

.overlay-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(3, 3, 3, 0.7);
}

.library-section{
  position: relative;
}

.nothing-page{
  width: 100%;
  max-width: 500px;
}

.card-body{
  background-color: var(--background-color);
  color: var(--base-text-color);
}
