.review{
  border-radius: 20px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.user-name{
  font-size: 20px;
}
.date{
  font-size: 15px;
  color: gray;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.raiting a {
  margin-right: 10px;
}
